<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Charto - Sign Up</title>
    <link href="https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'manager/signup_style.css' %}">
  </head>
  <body class="text-center">
    <form action="{% url 'signup_user' %}" class="signUpForm" method="POST">
      {% csrf_token %}
      <h3 id="signUpFormTitle">Sign up for Charto</h3>
      {% if form.errors %}
        {% for field in form %}
          {% for error in field.errors %}
            <strong>{{ error|escape }}</strong>
          {% endfor %}
        {% endfor %}
      {% endif %}
      <input class="formInput form-control" name="username" type="text" placeholder="Username" required>
      <input class="formInput form-control" name="email" type="email" placeholder="Email" required>
      <input class="formInput form-control" name="password" type="password" placeholder="Password" required>
      <button id="submitButton" class="btn btn-block" type="submit">Sign up</button>
    </form>
  </body>
</html>
